*{
    transition: background-color .15s ease-out,color .15s ease-out,border-color .15s ease-out,fill .15s ease-out,box-shadow .15s ease-out;
}
body{
    background-color: #34731A;
    background-image: linear-gradient(135deg, #34731A 0%, #34731A 30%, #58c42c 100%);
}

.page-container.page-container {
    width: 100%;
    height: 100%;
    overflow: visible;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}
.logo{
    float: left;
}

.active {
    background-color: #4CAF50;
}
nav.topnav .button {
    border-color: hsla(0,0%,100%,.5);
    color: #fff;
    margin: 0;
    margin-left: 15px;
}
.signup-button {
    border-color: hsla(0,0%,100%,.5);
    color: #fff;
    margin: 0;
    margin-left: 15px;
    -webkit-transition: opacity .1s ease-out;
    transition: opacity .1s ease-out;
}
.userlink .outlined {
    background-color: transparent;
    box-shadow: none;
    transition: border-color .1s ease-out,background-color .1s ease-out;
    border-color: hsla(0,0%,100%,.5);
    color: #fff;
    margin: 0;
    margin-left: 15px;
    -webkit-transition: opacity .1s ease-out;
    transition: opacity .1s ease-out;
}

.button{
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
    line-height: 28px;
    padding: 0 15px;
    background-color: transparent;
    color: #444;
    cursor: pointer;
    box-shadow: 0 0 0 1px hsla(0,0%,100%,.05), inset 0 0 0 100px rgba(0,0,0,.02);
    border: 1px solid rgba(0,0,0,.15);
    box-sizing: border-box;
    white-space: nowrap;
    user-select: none;
}